<footer class="footer-xs hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8  ">
                <div class="row grey-link">
                    <div class="col-sm-4 col-xs-4">
                        <dl>
                            <dt>产品与服务</dt>
                            <dd>
                                <a href="">多媒体API</a>
                            </dd>
                            <dd>
                                <a href="">直播云</a>
                            </dd>
                            <dd>
                                <a href="">大数据</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-4 col-xs-4 ">
                        <dl>
                            <dt>支持</dt>
                            <dd>
                                <a href="">开发者中心</a>
                            </dd>
                            <dd>
                                <a href="">技术支持</a>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-4 col-xs-4 ">
                        <dl>
                            <dt>关于我们</dt>
                            <dd>
                                <a href="">联系我们</a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-4 text-center">
                <a class="logo">
                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt="">
                    <span>海螺</span>
                </a>
                <div class="qrcode">
                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/code.png" alt="">
                </div>
            </div>
        </div>
        <div class="links grey-link">
            <!-- <div class="cloud-center">
                <a class="verify-logo" href=""></a>
                <a class="iso-logo" href=""></a>
            </div> -->
            <ul>
                <li>copyright © 2017 海螺播放器</li>
                <li>
                    <a target="blank" href="">
                        <span class="icon icon-aq">沪公网安备 31011502000961 号</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon icon-aq">
                            沪 ICP 备 11037377 号-5
                        </span>
                    </a>
                </li>
            </ul>
            <div class="icp grey-color">


            </div>
        </div>
    </div>
</footer>
<footer class="visible-xs footer-mobile">
    <div class="container">
        <div class="collapse-wrapper">
            <ul class="panel-group">
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseProduct" aria-expanded="false">产品与服务</a>
                    </div>
                    <div id ="collapseProduct" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">多媒体API</h4></a>
                            </div>
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">直播云</h4></a>
                            </div>
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">大数据</h4></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSupport" aria-expanded="false">技术</a>
                    </div>
                    <div id ="collapseSupport" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">开发者中心</h4></a>
                            </div>
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">技术支持</h4></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCare" aria-expanded="false">关于我们</a>
                    </div>
                    <div id ="collapseCare" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="menu-unit">
                                <a href=""><h4 class="kodo">联系我们</h4></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="panel panel-info">
                    <div class="panel-heading panel-sort">
                        <a class="sort-name collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCode" aria-expanded="false">关注我们</a>
                    </div>
                    <div id ="collapseCode" class="panel-collapse collapse-menu collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body panel-menu">
                            <div class="text-center">
                                <a class="logo">
                                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/logo-02.png" alt="">
                                    <span>海螺</span>
                                </a>
                                <div class="qrcode">
                                    <img src="//p0.ifengimg.com/fe/zl/test/live/p2p_index/code.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="links grey-link text-center">
            <ul>
                <li>© 2017 风直播</li>
                <li>
                    <a target="blank" href="">
                        <span class="icon icon-aq">沪公网安备 31011502000961 号</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon icon-aq">
                            沪 ICP 备 11037377 号-5
                        </span>
                    </a>
                </li>
            </ul>
            <div class="icp grey-color">


            </div>
        </div>
    </div>
</footer>